@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&family=Poppins:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lato:wght@300&family=Montserrat&family=Poppins&family=Playfair+Display&family=Martian+Mono&family=Gloria+Hallelujah&display=swap');